{% if site.footer-links.email %}<a href="mailto:{{ site.footer-links.email }}" class="icon fa-envelope" target="_blank"></a>{% endif %}
{% if site.footer-links.flickr %}<a href="https://www.flickr.com/{{ site.footer-links.flickr }}" class="icon brands fa-flickr" target="_blank"></a>{% endif %}
{% if site.footer-links.github %}<a href="https://github.com/{{ site.footer-links.github }}" class="icon brands fa-github" target="_blank"></a>{% endif %}
{% if site.footer-links.linkedin %}<a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}" class="icon brands fa-linkedin-in" target="_blank"></a>{% endif %}
