{% if site.footer-links.email %}<a href="mailto:{{ site.footer-links.email }}" target="_blank"><i class="light fa fa-envelope"></i></a>{% endif %}
{% if site.footer-links.flickr %}<a href="https://www.flickr.com/{{ site.footer-links.flickr }}" target="_blank"><i class="light fa fa-flickr"></i></a>{% endif %}
{% if site.footer-links.github %}<a href="https://github.com/{{ site.footer-links.github }}" target="_blank"><i class="light fa fa-github"></i></a>{% endif %}
{% if site.footer-links.linkedin %}<a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}" target="_blank"><i class="light fa fa-linkedin-square"></i></a>{% endif %}
